footer {
  padding: 2rem;
  background-color: #12474b;
  font-size: var(--body-font-size-s);
  color:#e6e5f1;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
